@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h1>Add a flavor for @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add" class="btn btn-outline-success" />
}

<p>@Html.ActionLink("Back to treats", "Index")</p>