@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h5>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h5>
<h5>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)</h5>

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are no flavors associated with this treat yet</p>
  <p>@Html.ActionLink("Add a flavor type to this treat?", "AddFlavor", new { id = Model.TreatId })</p>
}
else
{
  <h4>Flavors featured in this treat:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>
        @Html.ActionLink($"{join.Flavor.Type}", "Details", "Flavors", new { id = join.Flavor.FlavorId}) |
        <span>
          @using (Html.BeginForm("DeleteFlavor", "Flavors"))
          {
            @Html.Hidden("joinId", @join.FlavorTreatId)
            <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
          }
        </span>
      </li>
    }
  </ul>
  <p>@Html.ActionLink("Add another flavor type", "AddFlavor", new { id = Model.TreatId })</p>
}

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</p>