@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Edit: @Html.DisplayFor(model => model.Name)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name, new {@class="form-label"})
  @Html.EditorFor(model => model.Name, new {@class = "form-control", type="text", id="name", required="required"})

  @Html.LabelFor(model => model.Description, new {@class="form-label"})
  @Html.EditorFor(model => model.Description, new {@class = "form-control", type="text", id="description"})

  @Html.LabelFor(model => model.Price, new {@class="form-label"})
  @Html.EditorFor(model => model.Price, new {@class = "form-control", type="number", id="price", required="required"})

  <input type="submit" value="Save Changes" class="btn btn-outline-warning" />
}
<p>@Html.ActionLink("Back to treats", "Index")</p>