@{
  Layout = "_Layout";
}
<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<p>@Html.ActionLink("View all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("View all flavors", "Index", "Flavors")</p>

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Account", "Index", "Account")</p>
}
else
{
  <p>@Html.ActionLink("Register", "Register", "Account")</p>
  <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}