<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Project Name</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<partial id="header">
  @if (User.Identity.IsAuthenticated)
  {
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <span>Hello @Html.ActionLink($"{@User.Identity.Name}", "Index", "Account")!</span>
      <button class="btn btn-sm btn-danger" type="submit" value="Log out">Log out</button>
    }
  }
</partial>

<body class="container">

  @RenderBody()

</body>

<partial id="footer">
  @Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Treats", "Index", "Treats") |
  @Html.ActionLink("Flavors", "Index", "Flavors")
</partial>

</html>