@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models
@model SweetAndSavory.Models.Flavor

<h2>Flavor Details:</h2>
<hr />
<h4>@Html.DisplayFor(model => model.SomeProperty)</h4>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</p>

@foreach (Treat treat in ViewBag.Treats)
{
  if (treat.FlavorId == Model.FlavorId)
  {
    <li>@Html.ActionLink($"{treat.SomeProperty}", "Details", "Treats", new { id = treat.TreatId})
</li>
  }
}
